{% extends 'base.html' %}

{% block title %} Dashboard{% endblock %}

{% block body %} 

<div class="bg-white">
	<h1 class="text-center text-teal-700 py-2 mb-4 text-lg font-bold rounded-full border border-slate-500">DASHBOARD</h1>
<!-- Lent money Section Start -->
<div class="p-4 mb-6 border border-sky-600 rounded">
	<h3 class="text-lg font-bold border-b-2 border-sky-600 text-sky-600">Lent money panel</h3>
	<div class="grid grid-cols-3 gap-1">
		<!-- Panel Box 1 -->
		<div class="bg-sky-100 p-4 rounded-lg my-2">
			<h6 class="font-bold text-center text-sky-800 border-b-2 border-sky-200">315 SAR</h6>
			<h6 class="font-bold text-sm text-center text-sky-800 border-b-2 border-sky-200">20,400 BDT</h6>
			<h2 class="font-bold text-center text-sky-500 border-b-1 border-sky-200">Total</h2>
		</div>
		<!-- Panel Box 2 -->
		<div class="bg-sky-100 p-4 rounded-lg my-2">
			<h2 class="font-bold text-center text-sky-800 border-b-2 border-sky-200">100 SAR</h2>
			<h6 class="font-bold text-sm text-center text-sky-800 border-b-2 border-sky-200">20,400 BDT</h6>
			<h2 class="font-bold text-center text-sky-500 border-b-1 border-sky-200">Paid</h2>
		</div>
		<!-- Panel Box 3 -->
		<div class="bg-sky-100 p-4 rounded-lg my-2">
			<h2 class="font-bold text-center text-sky-800 border-b-2 border-sky-200">215 SAR</h2>
			<h6 class="font-bold text-sm text-center text-sky-800 border-b-2 border-sky-200">20,400 BDT</h6>
			<h2 class="font-bold text-center text-sky-500 border-b-1 border-sky-200">Due</h2>
		</div>
	</div>
</div>
<!-- Lent money Section End -->

<!-- Salary Section Start -->
<div class="p-4 mb-6 border border-green-600 rounded">
	<h3 class="text-lg font-bold border-b-2 border-green-600 text-green-600">Salary panel</h3>
	<div class="grid grid-cols-3 gap-1">
		<!-- Panel Box 1 -->
		<div class="bg-green-100 p-4 rounded-lg my-2">
			<h2 class="font-bold text-center text-green-800 border-b-2 border-green-200">315 SAR</h2>
			<h2 class="font-bold text-center text-green-500 border-b-1 border-green-200">Total</h2>
		</div>
		<!-- Panel Box 2 -->
		<div class="bg-green-100 p-4 rounded-lg my-2">
			<h2 class="font-bold text-center text-green-800 border-b-2 border-green-200">100 SAR</h2>
			<h2 class="font-bold text-center text-green-500 border-b-1 border-green-200">Paid</h2>
		</div>
		<!-- Panel Box 3 -->
		<div class="bg-green-100 p-4 rounded-lg my-2">
			<h2 class="font-bold text-center text-green-800 border-b-2 border-green-200">215 SAR</h2>
			<h2 class="font-bold text-center text-green-500 border-b-1 border-green-200">Due</h2>
		</div>
	</div>
</div>
<!-- Salary Section End -->

<!-- Salary Section Start -->
<div class="p-4 my-3 border border-rose-600 rounded">
	<h3 class="text-lg font-bold border-b-2 border-rose-600 text-rose-600">Loan panel</h3>
	<div class="grid grid-cols-3 gap-1">
		<!-- Panel Box 1 -->
		<div class="bg-rose-100 p-4 rounded-lg my-2">
			<h2 class="font-bold text-center text-rose-800 border-b-2 border-rose-200">315 SAR</h2>
			<h2 class="font-bold text-center text-rose-500 border-b-1 border-rose-200">Total</h2>
		</div>
		<!-- Panel Box 2 -->
		<div class="bg-rose-100 p-4 rounded-lg my-2">
			<h2 class="font-bold text-center text-rose-800 border-b-2 border-rose-200">100 SAR</h2>
			<h2 class="font-bold text-center text-rose-500 border-b-1 border-rose-200">Paid</h2>
		</div>
		<!-- Panel Box 3 -->
		<div class="bg-rose-100 p-4 rounded-lg my-2">
			<h2 class="font-bold text-center text-rose-800 border-b-2 border-rose-200">215 SAR</h2>
			<h2 class="font-bold text-center text-rose-500 border-b-1 border-rose-200">Due</h2>
		</div>
	</div>
</div>
<!-- Salary Section End -->
</div>



{% endblock %}
