{% extends 'borrow/mobile.html' %}
{% block title %} Detail {% endblock %}

{% block body %} 

<div class="ui segments">
	<div class="ui inverted segment center aligned black">
		<h3>{{borrow.client_name}}</h3>
	</div>
	<div class="ui segment">
		<table class="ui unstackable table">
			<tr>
				<th>Reason</th>
				<th>:</th>
				<th>{{borrow.remark}}
				</th>
			</tr>
			<tr>
				<th>Amount</th>
				<th>:</th>
				<th>{{borrow.ammount}} - {{borrow.currency}}</th>
			</tr>
			<tr>
				<th>Due Amount</th>
				<th>:</th>
				<th>{{ due }} - {{borrow.currency}}
				</th>
			</tr>
			
			<tr>
				<table class="ui unstackable table">
					<h4 class="ui block header center aligned">Return History</h4>
					<thead>
					<tr>
						<th>Amount</th>
						<th>Date</th>
						<th>Remark</th>
					</tr>
					</thead>
					<tbody>
					{% if return_detail %}
					{% for history in return_detail %}
					<tr>
						<td>{{history.return_amount}}</td>
						<td>{{history.return_date}}</td>
						<td>{{history.remark}}</td>
					</tr>
					{% endfor %}
					{% else %}
					</tbody>
				</table>
			</tr>
			
			
			{% endif %}
		</table>
	</div>
</div>
<script>
$(document).ready(function(){

});
</script>

{% endblock %}
